@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import "./styles/reset.css";
@import "./styles/variables.css";
@import "./styles/general.css";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url(./public/images/bg-texture.png);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}